In [ ]:
#import SparkSession
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.functions import col
from pyspark.sql.functions import desc
import functools

In [ ]:
#create spark session object
spark=SparkSession.builder.appName('data_processing').getOrCreate()

In [ ]:
# Load csv Dataset 
df=spark.read.csv('s3://datasetsfperezm1/covid/new/part-00000-398de3f2-507f-4d83-ada0-75cfdee18a5e-c000.csv',inferSchema=True,header=True)

In [ ]:
#3
newColumns = ["FechaReporteWeb", "IdCaso", "FechaNotificacion", "CodDIVIPOLAdepartamento", "Departamento", 
              "CodigoDIVIPOLAmunicipio", "Municipio", "Edad", "MedidaEdad", "Sexo", "TipoContagio", "UbicacionCaso",
              "Estado", "CodigoIsoPais", "Pais", "Recuperado", "FechaInicioSintomas", "FechaMuerte", "FechaDiagnostico",
              "FechaRecuperacion", "TipoRecuperacion", "PertenenciaEtnica", "NombreGrupoEtnico"]
df.toDF(*newColumns).coalesce(1).write.csv("s3a://datasetsfperezm1/covid/new", header = True)

In [ ]:
# Register the DataFrame as a SQL temporary view
df.createOrReplaceTempView("covid")

In [ ]:
sqlDF = spark.sql("SELECT * FROM covid")
sqlDF.show(5)

In [ ]:
#2.1 Los 10 departamentos con más casos de covid en Colombia ordenados de mayor a menor.
sqlDF = spark.sql("SELECT Departamento, COUNT(*) AS numInstances FROM covid GROUP BY Departamento ORDER BY numInstances DESC;")
#sqlDF.coalesce(1).write.csv("s3a://datasetsfperezm1/lab4/dos_uno", header = True)
sqlDF.show(10)

In [ ]:
#2.2 Las 10 ciudades con más casos de covid en Colombia ordenados de mayor a menor.
sqlDosDos = spark.sql("SELECT Municipio, COUNT(*) AS casos FROM covid GROUP BY Municipio ORDER BY casos DESC;")
#sqlDosDos.coalesce(1).write.csv("s3a://datasetsfperezm1/lab4/dos_dos", header = True)
sqlDosDos.show(10)

In [ ]:
#2.3 Los 10 días con más casos de covid en Colombia ordenados de mayor a menor.
sqlDosTres = spark.sql("SELECT FechaReporteWeb, COUNT(*) AS casos FROM covid GROUP BY FechaReporteWeb ORDER BY casos DESC;")
#sqlDosTres.coalesce(1).write.csv("s3a://datasetsfperezm1/lab4/dos_tres", header = True)
sqlDosTres.show(10)

In [ ]:
#2.4 - Distribución de casos por edades de covid en Colombia.
sqlDosCuatro = spark.sql("SELECT Edad,( COUNT(*) / (select count(*) from covid) )* 100 AS casos FROM covid GROUP BY Edad ORDER BY casos DESC;")
#sqlDosCuatro.coalesce(1).write.csv("s3a://datasetsfperezm1/lab4/dos_cuatro", header = True)
sqlDosCuatro.show(10)

In [ ]:
#2.5 - Numero de casos entre hombres y mujeres
sqlDosCinco = spark.sql("SELECT Sexo, COUNT(*) AS casos FROM covid GROUP BY Sexo ORDER BY casos DESC;")
#sqlDosCinco.coalesce(1).write.csv("s3a://datasetsfperezm1/lab4/dos_cinco", header = True)
sqlDosCinco.show(4)